@mixin default() {
	transform: scale(1);
	opacity: 1;
}

@mixin zoomAnimation($scale: 0) {
	transform: scale($scale);
	opacity: 0;
}

@keyframes zoomIn {
	0% {
		@include default();
	}

	100% {
		@include zoomAnimation(0);
	}
}

@keyframes zoomOut {
	0% {
		@include default;
	}

	100% {
		@include zoomAnimation(3);
	}
}

@keyframes in-animation-zoomIn {
	0% {
		@include zoomAnimation(5);
	}

	20% {
		opacity: 0.1;
	}

	100% {
		@include default;
	}
}

@keyframes in-animation-textZoomIn {
	0% {
		width: 100vw;
		opacity: 0;
		@include zoomAnimation(5);
	}

	100% {
		opacity: 0.5;
		@include default();
	}
}

.in-animation-textZoomIn {
	animation: 0.7s ease in-animation-zoomIn;
}

.in-animation-zoomIn {
	animation: 0.7s ease in-animation-zoomIn;
}

.out-animation-zoomIn {
	animation: 0.5s ease zoomIn;
}

.out-animation-zoomOut {
	animation: 0.5s ease zoomOut;
}
