@mixin default() {
	transform: scale(1);
	opacity: 1;
}

@mixin zoomAnimation($scale: 0) {
	transform: scale($scale);
	opacity: 0;
}

@keyframes zoomIn {
	0% {
		@include default(true, true);
	}

	100% {
		@include zoomAnimation(0);
	}
}

@keyframes zoomOut {
	0% {
		@include default;
	}

	100% {
		@include zoomAnimation(3);
	}
}

.zoomIn {
	animation: 1s ease zoomIn;
}

.zoomOut {
	animation: 1s ease zoomOut;
}
