@mixin default {
	transform: scale(1);
	opacity: 1;
}

@keyframes zoomIn {
	0% {
		@include default;
	}

	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@keyframes zoomOut {
	0% {
		@include default;
	}

	100% {
		transform: scale(3);
		opacity: 0;
	}
}

.zoomIn {
	animation: 1s ease zoomIn;
}

.zoomOut {
	animation: 1s ease zoomOut;
}
