@mixin container($backgroundColor: black) {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: $backgroundColor;
}

@mixin overlay {
	position: absolute;
	z-index: 1;
}

@mixin overlayAlignCenter {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

@mixin alignCenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin heading($color: white) {
	color: $color;
	font-size: 350%;
	font-weight: 700;
	text-align: center;
}

@mixin paragraph($color: white) {
	color: $color;
	text-align: center;
	font-size: x-large;
	font-weight: 500;
}

.container {
	@include container();
}

.overlay {
	@include overlay();
	@include overlayAlignCenter();
}

.heading {
	margin-bottom: 3%;
	@include heading();
}

.headingNoMargin {
	margin: 0;
	padding: 0;
	@include heading();
}

.text {
	@include paragraph(transparent);
	background: linear-gradient(70deg, #211ac7, #fb5ea8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.image {
	width: 80%;
	height: auto;
	max-width: max-content;
	max-height: max-content;
	z-index: 0;
	@include alignCenter();
}
